version: '3.8'

services:
  db:
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "bancodesangue"
    volumes:
      - mysql_data:/var/lib/mysql

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:3000"
    environment:
      VUE_APP_BACKEND: "true"
    volumes:
      - ./SGBS-Frontend:/app
      - /app/node_modules

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "3333:3333"
    depends_on:
      - db

volumes:
  mysql_data:
